/*** Start css of #_lp_block_43069901[data-block-layout='6651']  ***/

#_lp_block_43069901[data-block-layout='6651']  {
	padding-top: 11px;
	padding-bottom: 11px;
}

/*** End css of #_lp_block_43069901[data-block-layout='6651']  ***/
/*** Start css of #_lp_block_43069901[data-block-layout='6651'] .lpc-elements-2__text ***/

#_lp_block_43069901[data-block-layout='6651'] .lpc-elements-2__text {
	color: rgba(0,0,0,1);
	font-size: 20px;
	text-align: left;
	text-align-last: left;
	font-weight: 400;
	text-decoration: none;
	line-height: 150%;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

/*** End css of #_lp_block_43069901[data-block-layout='6651'] .lpc-elements-2__text ***/
